In [7]:
import pandas as pd
import numpy as np
from scipy import optimize
import matplotlib.pyplot as plt
from schmidlin_assignment2 import maxProfit

In [19]:
securities_df = pd.read_csv("data/securities.csv")
print(securities_df.shape)
securities_df.head()

(505, 8)

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [20]:
company_lookup = dict(zip(securities_df['Ticker symbol'], securities_df['Security']))

In [22]:
df = pd.read_csv("data/prices-split-adjusted.csv")
print(df.shape)
df.head()

(851264, 7)

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [23]:
#code cell takes about 1 minute to run on my computer
best = {'buy date': None, 'sell date': None, 'profit': 0, 'ticker': None, 'company_name': None}
for stock in df['symbol'].unique():
    buy, sell, profit = maxProfit(df[df['symbol']==stock]['close'].values)
    buy_date = df[df['symbol']==stock].iloc[buy]['date']
    sell_date = df[df['symbol']==stock].iloc[sell]['date']

    if profit>best['profit']:
        best['buy date'] = buy_date
        best['sell date'] = sell_date
        best['profit'] = profit
        best['ticker'] = stock
        best['company_name'] = company_lookup[stock]
        print(f"New best stock to buy: '{best['company_name']}' on {best['buy date']} and sell on {best['sell date']} with profit of {best['profit']}")

New best stock to buy: Willis Towers Watson on 2016-02-11 and sell on 2016-09-30 with profit of 25.640007
New best stock to buy: Agilent Technologies Inc on 2010-08-31 and sell on 2016-08-15 with profit of 29.148154
New best stock to buy: American Airlines Group on 2011-11-23 and sell on 2015-03-20 with profit of 51.759998
New best stock to buy: Advance Auto Parts on 2010-01-20 and sell on 2015-11-02 with profit of 161.220005
New best stock to buy: Alliance Data Systems on 2010-02-04 and sell on 2015-04-23 with profit of 256.860005
New best stock to buy: Allergan, Plc on 2010-02-08 and sell on 2015-07-28 with profit of 301.810001
New best stock to buy: Amazon.com Inc on 2010-06-29 and sell on 2016-10-05 with profit of 735.749984
New best stock to buy: Priceline.com Inc on 2010-06-09 and sell on 2016-11-08 with profit of 1402.940003

In [25]:
#checking to make sure apple profit maches what is printed in the assignment
buy, sell, profit = maxProfit(df[df['symbol']=='AAPL']['close'].values)
buy_date = df[df['symbol']=='AAPL'].iloc[buy]['date']
sell_date = df[df['symbol']=='AAPL'].iloc[sell]['date']

print(buy_date)
print(sell_date)
print(profit)

2010-02-04
2015-02-23
105.564285